# `PYTHON NOTES: V25.01.08 `

## `Print() Function:`

In [3]:
print("Hello Pratik")

Hello Pratik

## `Input() Function:`

In [44]:
value = input("Enter a Value: ")
print(value)

Enter a Value:  23

23

## `Type() Function:`

In [49]:
print(type(24))
type(24)

<class 'int'>

int

## `Data Types: V25.01.08`

1. `Numeric Data Type`

In [4]:
print("Numeric Data Type")
print(type(23))
print(type(23.5))
print(type(2+2j))

Numeric Data Type
<class 'int'>
<class 'float'>
<class 'complex'>

2. `Sequential Data Type`

In [23]:
print("Sequential Data Type")
print(type([22,22.3,2+2j]))
print(type((22,22.3,2+2j)))
print(type(set("aabbccdd")))
print(type({"name":"Pratik" ,"age":22}))

Sequential Data Type
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

3. `String Data Type`

In [6]:
print("String Data Type")
print(type("Pratik"))

<class 'str'>

4. `Boolean Data Type`

In [7]:
print("Boolean Data Type")
print(type(True))

<class 'bool'>

## Operators: V25.01.09 -  V25.01.10

1. `Assignment Arithmatic Operator`

In [2]:
print("Assignment Arithmatic Operator")
num1 = int(input("Enter 1st Number: "))
num2 = int(input("Enter 2nd Number: "))
num1+=num2
print("Addition of two Number is: ",num1)
num1-=num2
print("Subtraction of two Number is: ",num1)
num1*=num2
print("Multiplication of two Number is: ",num1)
num1/=num2
print("Division of two Number is: ",num1)
num1//=num2
print("Floor Division of two Number is: ",num1)
num1**=num2
print("Power of two Number is: ",num1)

Assignment Arithmatic Operator
Addition of two Number is:  4
Subtraction of two Number is:  2
Multiplication of two Number is:  4
Division of two Number is:  2.0
Floor Division of two Number is:  1.0
Power of two Number is:  1.0

2. `Relational Operator`

In [28]:
print("Relational Operator")
print(num1>=num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)

Enter 1st Number:  7
Enter 2nd Number:  5

True
False
True
False
False
True

3. `Logical Operator V25.01.10`

In [1]:
print("Logical Operator")
print(44>=33 and 44>=22)
print(22<=22 or 33<=33)
print(not True)

Logical Operator
True
True
False

4. `Bitwise Operator`

In [46]:
print("Bitwise Operator")
print(bin(15))
print(1 & 1)
print(15 | 11)
print(15 ^ 11)
print(~11)
print(bin(15>>2))
print(bin(15<<2))
print(15>>2)
print(15<<2)

0b1111
11
15
4
-12
0b11
0b111100
3
60

5. `Membership Operator`

In [2]:
print("Membership Operator:")
a = "ABCD"
print("A" in a)

Membership Operator:
True

6. `Identity Operator`

In [4]:
print("Identity Operator:")
a = "ABCD"
b = "ABCD"
print(a is b)

Identity Operator:
True

## `Jupyter Installation: V25.01.13`

## `Control Statement: V25.01.14`

1. `IF Statement`

In [4]:
if True:
    print("Welcome Guys!!")

Welcome Guys!!

In [9]:
if False:
    print("Welcome Guys!!")
    # Blanck!!  Print Nothing.

In [10]:
if 1:
    print("Welcome Guys!!")
    # Truth Value

Welcome Guys!!

In [14]:
if 0:
    print("Welcome Guys!!")
    # Blanck!!  Print Nothing. Falsy Value

In [16]:
if -0:
    print("Welcome Guys!!")
    # Blanck!!  
    # Print Nothing. 
    # Falsy Value
    # Entity : Something that exist.
    # -0 : Technicaly Wrong.

2. `If-Else Statement`

In [26]:
if True:
    print("Welcome Guys!!")
else:
    print("Bhaag...")

Welcome Guys!!

- `Question:` Accept a no from user and check if it is Even or Odd.

In [22]:
print("Print Even or Odd Numbers.")
num = int(input("Enter a Number: "))
if num%2 == 0 :
    print(num," is a Even Number.")
else:
    print(num," is a Odd Number.")

Print Even or Odd Numbers.

Enter a Number:  5

5  is a Odd Number.

- `Question:` Accept a no from user and check if it is divisible by 7 or 13.

In [25]:
print("Check a number divisible by 7 or 13.")
num = int(input("Enter a Number: "))
if num%7 == 0 or num%13 ==0 :
    print(num," is divisible.")
else:
    print(num," is not divisible.")

Check a number divisible by 7 or 13.

Enter a Number:  14

14  is divisible.

3. If-Elif Statement | If-Elif Ladder

- `Question:` Accept a no from user and check if it is Greater, Smaller or Equal to 23.

In [30]:
print("Check a Number is Greater, Smaller or Equal.")
num = int(input("Enter a Number: "))
if num>23:
    print(num," is a Greater than 23.")
elif num==23:
    print(num," is a Equal to 23.")
else:
    print(num," is a Smaller than 23.")

Check a Number is Greater, Smaller or Equal.

Enter a Number:  23

23  is a Equal to 23.

- `Question:` Accept a Budget from User.

In [35]:
budget = int(input("Enter your Budget: "))
if budget>=300 and budget<=500:
    print("International Trip.")
elif budget>=200 and budget<=299:
    print("National Trip.")
elif budget>=100 and budget<=199:
    print("City Trip.")
elif budget>=50 and budget<=99:
    print("Local Trip.")
elif budget>=1 and budget<=49:
    print("Gully Trip.")
else:
    print("Undefine Budget.")

Enter your Budget:  1

Gully Trip.

4. `Match Case`

In [40]:
value = 3
match value:
    case 1:
        print("Label 1")
    case 2:
        print("Label 2")
    case 3:
        print("Label 3")
    case _:
        print("Default Case ")

Label 3